* {
  --background-color: linear-gradient(to bottom, #020917, #101725);
  --background-color-error: rgb(149, 0, 0);
}

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: var(--background-color);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

#form-add-task {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 30px;
  border: 2px solid grey;
  width: 35vw;
  gap: 1rem;
}

#form-add-task * {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  height: 2rem;
}

#form-add-task input[type='submit'] {
  border-radius: 30px;
}

#form-add-task input[type='submit']:hover {
  background: blue;
}

#todos-list-border {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  border-radius: 33px;
}

#todos-list-border::before {
  content: '';
  position: absolute;
  width: calc(100% + 0.2rem);
  height: calc(100% + 0.2rem);
  border-radius: 32px;
  background: linear-gradient(to bottom, red, yellow);
  z-index: -1;
}

#todos-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
}

.todo-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #fff;
}

.todo-item::before {
  content: '';
  position: absolute;
  background: red;
  width: calc(100%);
  height: calc(100%);
  z-index: -1;
}

.todo-item > span {
  font-size: large;
  display: flex;
  height: 1.5em;
  padding: 0.5em;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background: blue;
}

.todo-item > span > div {
  display: flex;
  gap: 0.5em;
}

.todo-item > div {
  padding: 6px;
  height: 5rem;
}

.todo-item > div:empty {
  display: none;
}

#form-task-content {
  display: none;
}

#todos-list-options {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
}

#error-frame {
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-self: center;

  padding: 1em;
  gap: 0.2em;

  background: transparent;
}

#error-frame:empty {
  display: none;
}

.error-item {
  font-size: large;
  padding: 0.8em;
  height: 1em;
  display: flex;
  justify-content: space-between;
  background: var(--background-color-error);
  border: 0.15em solid rgb(1, 4, 10);
  box-shadow: 10px 10px 100px;
  border-radius: 30px;
  align-items: center;
}

.error-item button {
  display: none;
}

.error-item:hover button {
  display: block;
}

.error-fallback {
  padding: 1em;
  background: var(--background-color-error);
  border: 0.15em solid rgb(1, 4, 10);
  box-shadow: 10px 10px 100px;
  border-radius: 30px;
  font-size: 15px;
}
